.language-switcher {
  margin-left: 1rem;
}

.language-select {
  background: var(--primary-color);
  /* background: transparent; */
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  min-width: 120px;
}

.language-select:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.language-select option {
  background: var(--primary-color);
  color: var(--text-color);
}